:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.carousel {
  overflow: hidden;
  width: 100%; 
}

.carousel-track {
  display: flex;
  width: max-content;
  animation: scroll 200s linear infinite;
}

.carousel-item {
  width: 550px; 
  height: 400px; 
  margin-right: 100px; 
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-80%);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, p {
  margin-bottom: 16px;
}

a {
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: #1abc9c;
}

button {
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

button:hover {
  background-color: #1abc9c;
  transform: scale(1.05);
}

nav ul li a:hover {
  border-bottom: 2px solid #1abc9c;
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }

  .project-cards {
    flex-direction: column;
  }
}